In [619]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score
import numpy as np
import pandas as pd
import random
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve , auc
from sklearn.metrics.cluster import fowlkes_mallows_score as gmean
import statistics as stat

In [620]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [621]:
df=pd.read_csv('/content/drive/MyDrive/yeast-0-2-5-6_vs_3-7-8-9.csv')
df

       Mcg   Gvh   Alm   Mit  Erl  Pox   Vac   Nuc     Class
0     0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  negative
1     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  negative
2     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  negative
3     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  negative
4     0.50  0.54  0.48  0.65  0.5  0.0  0.53  0.22  negative
...    ...   ...   ...   ...  ...  ...   ...   ...       ...
999   0.78  0.74  0.58  0.25  1.0  0.0  0.53  0.22  positive
1000  0.77  0.80  0.51  0.40  1.0  0.0  0.54  0.22  positive
1001  0.85  0.56  0.33  0.38  1.0  0.0  0.55  0.25  positive
1002  0.86  0.92  0.50  0.37  1.0  0.0  0.53  0.32  positive
1003  0.70  0.84  0.49  0.28  1.0  0.0  0.58  0.22  positive

[1004 rows x 9 columns]

In [622]:
df["Class"].value_counts()
class_label=df['Class']
class_label

0       negative
1       negative
2       negative
3       negative
4       negative
          ...
999     positive
1000    positive
1001    positive
1002    positive
1003    positive
Name: Class, Length: 1004, dtype: object

In [623]:
label_encoder = LabelEncoder()
df["Class"] = label_encoder.fit_transform(df["Class"])
df.head()

    Mcg   Gvh   Alm   Mit  Erl  Pox   Vac   Nuc  Class
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22      0
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22      0
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22      0
3  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22      0
4  0.50  0.54  0.48  0.65  0.5  0.0  0.53  0.22      0

In [624]:
minor=df[df["Class"]==1]
major=df[df["Class"]==0]
minor=minor.drop(["Class"], axis=1)
minority=minor.to_numpy()
minor.shape
major.shape
diff=major.shape[0]-minor.shape[0]
r=diff
loop=diff/minor.shape[0]
if(diff%minor.shape[0]==0):
    iter=int(diff/minor.shape[0])
else:
  iter=int(diff/minor.shape[0])+1
minor.shape

(99, 8)

In [625]:
for id in range(r):
  if(diff>0):
    distances = np.linalg.norm(minority - minority[id], axis=1)  #calculating the distances to other instances
    k = 4
    nearest_neighbor_ids = distances.argsort()[:k] #finding 3 nearest neighbours n1,n2 and n3
    n1=minority[nearest_neighbor_ids[1]]
    n2=minority[nearest_neighbor_ids[2]]
    n3=minority[nearest_neighbor_ids[3]]
    r1=random.uniform(0,1)
    r2=random.uniform(0,1)
    w=random.uniform(0.5,1)
    velocity= w+r1*(n1-n3) + r2*(n1-n2)         #velocity vector
    new_minor=minority[id]+velocity             #position update
    d=minor.shape[1] 
    minB=minor.min().to_numpy()
    maxB=minor.max().to_numpy()
    for i in range(d):
      if(new_minor[i]<minB[i]):
        new_minor[i]=minB[i];
      if(new_minor[i]>maxB[i]):
        new_minor[i]=maxB[i];
    minority=np.append(minority,new_minor)
    minority=np.reshape(minority,(-1, minor.shape[1]))
    diff=diff-1

minority.shape

(905, 8)

In [626]:
df_minor = pd.DataFrame(minority, columns =['Mcg','Gvh','Alm','Mit','Erl','Pox','Vac','Nuc'])
df_minor

      Mcg   Gvh   Alm   Mit  Erl   Pox   Vac   Nuc
0    0.78  0.74  0.42  0.26  0.5  0.00  0.43  0.22
1    0.75  0.70  0.38  0.27  0.5  0.00  0.49  0.22
2    0.78  0.70  0.32  0.23  0.5  0.00  0.53  0.22
3    0.74  0.72  0.47  0.25  0.5  0.00  0.57  0.22
4    0.91  0.77  0.34  0.47  0.5  0.00  0.52  0.31
..    ...   ...   ...   ...  ...   ...   ...   ...
900  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63
901  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63
902  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63
903  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63
904  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63

[905 rows x 8 columns]

In [627]:
dup=[]
for i in range(df_minor.shape[0]):
  dup.append(1)
Class=np.array(dup)
Class=np.reshape(Class,(-1,1))
df_minor_class=pd.DataFrame(Class,columns=['Class'])
df_minor['Class']=df_minor_class
df_minor

      Mcg   Gvh   Alm   Mit  Erl   Pox   Vac   Nuc  Class
0    0.78  0.74  0.42  0.26  0.5  0.00  0.43  0.22      1
1    0.75  0.70  0.38  0.27  0.5  0.00  0.49  0.22      1
2    0.78  0.70  0.32  0.23  0.5  0.00  0.53  0.22      1
3    0.74  0.72  0.47  0.25  0.5  0.00  0.57  0.22      1
4    0.91  0.77  0.34  0.47  0.5  0.00  0.52  0.31      1
..    ...   ...   ...   ...  ...   ...   ...   ...    ...
900  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63      1
901  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63      1
902  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63      1
903  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63      1
904  1.00  0.94  0.60  0.78  1.0  0.83  0.62  0.63      1

[905 rows x 9 columns]

In [628]:
majority=major.to_numpy()
majority=np.reshape(majority,(-1,major.shape[1]))
majority
df_major = pd.DataFrame(majority, columns = ['Mcg','Gvh','Alm','Mit','Erl','Pox','Vac','Nuc','Class'])
df_major

      Mcg   Gvh   Alm   Mit  Erl  Pox   Vac   Nuc  Class
0    0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22    0.0
1    0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22    0.0
2    0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22    0.0
3    0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22    0.0
4    0.50  0.54  0.48  0.65  0.5  0.0  0.53  0.22    0.0
..    ...   ...   ...   ...  ...  ...   ...   ...    ...
900  0.71  0.64  0.42  0.28  0.5  0.0  0.43  0.22    0.0
901  0.80  0.79  0.43  0.25  0.5  0.0  0.52  0.22    0.0
902  0.49  0.39  0.52  0.29  0.5  0.0  0.48  0.22    0.0
903  0.89  0.77  0.36  0.34  0.5  0.0  0.44  0.22    0.0
904  0.66  0.65  0.54  0.40  0.5  0.0  0.51  0.22    0.0

[905 rows x 9 columns]

In [629]:
balanced_df=pd.concat([df_minor,df_major],axis=0,ignore_index=True)
balanced_df

       Mcg   Gvh   Alm   Mit  Erl  Pox   Vac   Nuc  Class
0     0.78  0.74  0.42  0.26  0.5  0.0  0.43  0.22    1.0
1     0.75  0.70  0.38  0.27  0.5  0.0  0.49  0.22    1.0
2     0.78  0.70  0.32  0.23  0.5  0.0  0.53  0.22    1.0
3     0.74  0.72  0.47  0.25  0.5  0.0  0.57  0.22    1.0
4     0.91  0.77  0.34  0.47  0.5  0.0  0.52  0.31    1.0
...    ...   ...   ...   ...  ...  ...   ...   ...    ...
1805  0.71  0.64  0.42  0.28  0.5  0.0  0.43  0.22    0.0
1806  0.80  0.79  0.43  0.25  0.5  0.0  0.52  0.22    0.0
1807  0.49  0.39  0.52  0.29  0.5  0.0  0.48  0.22    0.0
1808  0.89  0.77  0.36  0.34  0.5  0.0  0.44  0.22    0.0
1809  0.66  0.65  0.54  0.40  0.5  0.0  0.51  0.22    0.0

[1810 rows x 9 columns]

In [630]:

from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=5)
x_b=balanced_df.drop(['Class'],axis='columns')
y_b=balanced_df.Class

In [631]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
model_b_s=SVC()

model_b_k=KNeighborsClassifier(n_neighbors=3)


model_b_d=DecisionTreeClassifier(random_state=0)

In [632]:
#precision
precision_s=[]
f1_s=[]
recall_s=[]
accuracy_s=[]
Auc_s=[]
Gmean_s=[]

precision_k=[]
f1_k=[]
recall_k=[]
accuracy_k=[]
Auc_k=[]
Gmean_k=[]

precision_d=[]
f1_d=[]
recall_d=[]
accuracy_d=[]
Auc_d=[]
Gmean_d=[]
for train_index_b,test_index_b in kf.split(x_b,y_b):
  x_train_b,x_test_b=x_b.iloc[train_index_b],x_b.iloc[test_index_b]
  y_train_b,y_test_b=y_b.iloc[train_index_b],y_b.iloc[test_index_b]
  model_b_s.fit(x_train_b,y_train_b)
  prediction_b_s = model_b_s.predict(x_test_b)

  model_b_k.fit(x_train_b,y_train_b)
  prediction_b_k = model_b_k.predict(x_test_b)

  model_b_d.fit(x_train_b,y_train_b)
  prediction_b_d = model_b_d.predict(x_test_b)

  precision_s.append(precision_score(y_test_b,prediction_b_s))
  precision_k.append(precision_score(y_test_b,prediction_b_k))
  precision_d.append(precision_score(y_test_b,prediction_b_d))

  recall_s.append(recall_score(y_test_b,prediction_b_s))
  recall_k.append(recall_score(y_test_b,prediction_b_k))
  recall_d.append(recall_score(y_test_b,prediction_b_d))

  f1_s.append(f1_score(y_test_b,prediction_b_s))
  f1_k.append(f1_score(y_test_b,prediction_b_k))
  f1_d.append(f1_score(y_test_b,prediction_b_d))

  accuracy_s.append(accuracy_score(y_test_b,prediction_b_s))
  accuracy_k.append(accuracy_score(y_test_b,prediction_b_k))
  accuracy_d.append(accuracy_score(y_test_b,prediction_b_d))


  s_fpr_b,s_tpr_b,threshold_s_b=roc_curve(y_test_b,prediction_b_s)
  k_fpr_b,k_tpr_b,threshold_k_b=roc_curve(y_test_b,prediction_b_k)
  d_fpr_b,d_tpr_b,threshold_d_b=roc_curve(y_test_b,prediction_b_d)


  Auc_s.append(auc(s_fpr_b,s_tpr_b))
  Auc_k.append(auc(k_fpr_b,k_tpr_b))
  Auc_d.append(auc(d_fpr_b,d_tpr_b))


  Gmean_s.append(gmean(y_test_b,prediction_b_s))
  Gmean_k.append(gmean(y_test_b,prediction_b_k))
  Gmean_d.append(gmean(y_test_b,prediction_b_d))


print("-------SVM--------")
print("Gmean_SVM:",Gmean_s)
print("AUC_SVM:",Auc_s)
print("f1_SVM:",f1_s)
print("precision_SVM:",precision_s)
print("recall_SVM:",recall_s)

print("mean of Gmean_s:",stat.mean(Gmean_s))
print("mean of AUC_s:",stat.mean(Auc_s))
print("mean of f1_s:",stat.mean(f1_s))
print("mean of precision_s:",stat.mean(precision_s))
print("mean of recall_s:",stat.mean(recall_s))

print("standard deviation of Gmean_s:",stat.stdev(Gmean_s))
print("standard deviation of AUC_s:",stat.stdev(Auc_s))
print("standard deviation of f1_s:",stat.stdev(f1_s))
print("standard deviation of precision_s:",stat.stdev(precision_s))
print("standard deviation of recall_s:",stat.stdev(recall_s))

print("\n")
print("-------KNN--------")
print("Gmean_KNN:",Gmean_k)
print("AUC_KNN:",Auc_k)
print("f1_KNN:",f1_k)
print("precision_KNN:",precision_k)
print("recall_KNN:",recall_k)

print("mean of Gmean_k:",stat.mean(Gmean_k))
print("mean of AUC_k:",stat.mean(Auc_k))
print("mean of f1_k:",stat.mean(f1_k))
print("mean of precision_k:",stat.mean(precision_k))
print("mean of recall_k:",stat.mean(recall_k))

print("standard deviation of Gmean_k:",stat.stdev(Gmean_k))
print("standard deviation of AUC_k:",stat.stdev(Auc_k))
print("standard deviation of f1_k:",stat.stdev(f1_k))
print("standard deviation of precision_k:",stat.stdev(precision_k))
print("standard deviation of recall_k:",stat.stdev(recall_k))

print("\n")
print("-------DECISION TREE--------")
print("Gmean_DT:",Gmean_d)
print("AUC_DT:",Auc_d)
print("f1_DT:",f1_d)
print("precision_DT:",precision_d)
print("recall_DT:",recall_d)

print("mean of Gmean_d:",stat.mean(Gmean_d))
print("mean of AUC_d:",stat.mean(Auc_d))
print("mean of f1_d:",stat.mean(f1_d))
print("mean of precision_d:",stat.mean(precision_d))
print("mean of recall_d:",stat.mean(recall_d))

print("standard deviation of Gmean_d:",stat.stdev(Gmean_d))
print("standard deviation of AUC_d:",stat.stdev(Auc_d))
print("standard deviation of f1_d:",stat.stdev(f1_d))
print("standard deviation of precision_d:",stat.stdev(precision_d))
print("standard deviation of recall_d:",stat.stdev(recall_d))

-------SVM--------
Gmean_SVM: [0.6583105603277216, 0.9944598764234863, 1.0, 1.0, 0.8813329067094926]
AUC_SVM: [0.7265193370165746, 0.9972375690607735, 1.0, 1.0, 0.93646408839779]
f1_SVM: [0.623574144486692, 0.9972451790633609, 1.0, 1.0, 0.9402597402597402]
precision_SVM: [1.0, 0.9945054945054945, 1.0, 1.0, 0.8872549019607843]
recall_SVM: [0.4530386740331492, 1.0, 1.0, 1.0, 1.0]
mean of Gmean_s: 0.9068206686921401
mean of AUC_s: 0.9320441988950277
mean of f1_s: 0.9122158127619586
mean of precision_s: 0.9763520792932557
mean of recall_s: 0.8906077348066298
standard deviation of Gmean_s: 0.14786168052263998
standard deviation of AUC_s: 0.11805312532349466
standard deviation of f1_s: 0.16335742615958335
standard deviation of precision_s: 0.04986362891361599
standard deviation of recall_s: 0.24460854118505987


-------KNN--------
Gmean_KNN: [0.6583105603277216, 0.9889509563779189, 0.9780287516994522, 0.9672374012765326, 0.7843228817178396]
AUC_KNN: [0.7265193370165746, 0.994475138121547, 0.988950276243094, 0.9834254143646408, 0.8729281767955801]
f1_KNN: [0.623574144486692, 0.9945054945054945, 0.9890710382513661, 0.9836956521739131, 0.8872549019607843]
precision_KNN: [1.0, 0.9890710382513661, 0.9783783783783784, 0.9679144385026738, 0.7973568281938326]
recall_KNN: [0.4530386740331492, 1.0, 1.0, 1.0, 1.0]
mean of Gmean_k: 0.875370110279893
mean of AUC_k: 0.9132596685082873
mean of f1_k: 0.89562024627565
mean of precision_k: 0.9465441366652502
mean of recall_k: 0.8906077348066298
standard deviation of Gmean_k: 0.1477188634431841
standard deviation of AUC_k: 0.11591681621399028
standard deviation of f1_k: 0.15838851003670112
standard deviation of precision_k: 0.08425115494519499
standard deviation of recall_k: 0.24460854118505987


-------DECISION TREE--------
Gmean_DT: [0.6630290733168493, 0.9103971167223444, 0.9460630169197701, 0.9254585958607427, 0.7177121522380435]
AUC_DT: [0.7458563535911603, 0.9530386740331492, 0.9723756906077349, 0.9613259668508287, 0.8149171270718232]
f1_DT: [0.6642335766423357, 0.9551451187335093, 0.9731182795698924, 0.9627659574468085, 0.8438228438228438]
precision_DT: [0.978494623655914, 0.9141414141414141, 0.9476439790575916, 0.9282051282051282, 0.7298387096774194]
recall_DT: [0.5027624309392266, 1.0, 1.0, 1.0, 1.0]
mean of Gmean_d: 0.8325319910115501
mean of AUC_d: 0.8895027624309393
mean of f1_d: 0.8798171552430779
mean of precision_d: 0.8996647709474934
mean of recall_d: 0.9005524861878453
standard deviation of Gmean_d: 0.13181659608857987
standard deviation of AUC_d: 0.10278693345380693
standard deviation of f1_d: 0.13136949368880912
standard deviation of precision_d: 0.09795555926792499
standard deviation of recall_d: 0.2223714010773271

In [633]:
list=['yeast0256vs3789',stat.mean(Auc_k),stat.stdev(Auc_k),stat.mean(Gmean_k),stat.stdev(Gmean_k),stat.mean(Auc_d),stat.stdev(Auc_d),stat.mean(Gmean_d),stat.stdev(Gmean_d),stat.mean(Auc_s),stat.stdev(Auc_s),stat.mean(Gmean_s),stat.stdev(Gmean_s)]
list

df_excel = pd.read_excel('/content/drive/MyDrive/pso_1.xlsx')
df_excel

,Unnamed: 0.1,KNN,Unnamed: 2,Unnamed: 3,Unnamed: 4,Decision Tree,Unnamed: 6,Unnamed: 7,Unnamed: 8,SVM,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN
1,Dataset,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev
2,ecoli0137vs26,0.959495,0.040136,0.92449,0.072456,0.959798,0.027859,0.923228,0.052104,0.946633,0.061364,0.905228,0.105836
3,shuttle0vs4,0.999414,0.000802,0.998826,0.001607,1.0,0.0,1.0,0.0,0.998828,0.000655,0.997651,0.001313
4,yeast1vs7,0.953475,0.075796,0.923035,0.116982,0.938317,0.063328,0.89309,0.093762,0.963953,0.080602,0.94367,0.125957
5,shuttle2vs4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
6,glass016vs2,0.925714,0.102718,0.885581,0.143202,0.885714,0.108327,0.827411,0.127491,0.591429,0.180871,0.723895,0.066047
7,glass016vs5,0.885714,0.137396,0.845013,0.164663,0.88,0.149352,0.84569,0.173688,0.951429,0.065153,0.914833,0.107251
8,pageblocks13vs4,0.921157,0.041699,0.858736,0.064528,0.966279,0.052842,0.939967,0.090831,0.781563,0.023842,0.673539,0.031343
9,yeast05679vs4,0.90693,0.11329,0.863197,0.148454,0.889167,0.098387,0.829291,0.128517,0.920559,0.118654,0.887151,0.160135
10,yeast1289vs7,0.978237,0.035746,0.959557,0.064986,0.964615,0.027164,0.932908,0.048504,0.983149,0.03768,0.969282,0.068688
11,yeast1458vs7,0.963876,0.043629,0.933951,0.074594,0.928446,0.035745,0.870281,0.05924,0.974436,0.051092,0.955008,0.088538
12,yeast2vs4,0.941912,0.120829,0.924774,0.150056,0.928927,0.111393,0.897887,0.136399,0.942987,0.121499,0.926973,0.151501
13,yeast4,0.976644,0.0368,0.956926,0.065683,0.967568,0.03255,0.939284,0.057545,0.98188,0.039547,0.967332,0.071108
14,vowel0,0.858166,0.093864,0.787635,0.107438,0.868818,0.150834,0.835322,0.163618,0.901605,0.102867,0.850971,0.125853
15,yeast2vs8,0.988172,0.026448,0.977536,0.05023,0.960075,0.037523,0.925454,0.066287,0.982796,0.03847,0.968516,0.0704
16,glass4,0.888841,0.135252,0.847573,0.174202,0.873902,0.156211,0.842538,0.182132,0.921707,0.147911,0.90769,0.154431
17,glass5,0.897561,0.125734,0.8548,0.166752,0.907317,0.125141,0.86896,0.169798,0.963415,0.081807,0.942948,0.127572
18,glass2,0.927244,0.100005,0.88673,0.129847,0.932179,0.082133,0.886989,0.116465,0.523077,0.051602,0.691108,0.025735
19,yeast5,0.979514,0.030454,0.961535,0.055489,0.980903,0.03149,0.964316,0.057604,0.982986,0.03228,0.968425,0.059092
20,yeast6,0.982409,0.0239,0.966405,0.044361,0.975503,0.020375,0.952897,0.037489,0.986552,0.026301,0.974654,0.049153
21,cleveland0vs4,0.83125,0.063853,0.720727,0.0824,0.925,0.09845,0.880384,0.130341,0.7625,0.020373,0.634654,0.029277
22,ecoli01vs235,0.945455,0.034468,0.897597,0.060877,0.897727,0.0533,0.819161,0.082646,0.947727,0.031737,0.900499,0.057477
23,ecoli01vs5,0.979545,0.014816,0.959392,0.029188,0.947727,0.027367,0.900314,0.049087,0.965909,0.013918,0.932951,0.026217
24,ecoli0146vs5,0.969231,0.020846,0.940022,0.040261,0.946154,0.03303,0.898248,0.060564,0.961538,0.039645,0.928074,0.069629
25,ecoli0147vs2356,0.902247,0.091827,0.843175,0.11451,0.882946,0.0893,0.810511,0.122853,0.872871,0.117917,0.812795,0.1194
26,ecoli0147vs56,0.939556,0.100234,0.909029,0.135144,0.879614,0.108659,0.81971,0.113558,0.919937,0.134732,0.895098,0.147951
27,ecoli0234vs5,0.964189,0.052534,0.934756,0.091346,0.91464,0.07728,0.852008,0.110095,0.9503,0.074,0.915788,0.113863
28,ecoli0267vs35,0.881159,0.099133,0.810659,0.116564,0.87878,0.064933,0.79008,0.09174,0.86622,0.133393,0.809495,0.126712
29,ecoli034vs5,0.930556,0.08729,0.885096,0.124141,0.897222,0.160955,0.862475,0.173372,0.894444,0.205208,0.910392,0.139264
30,ecoli0346vs5,0.954054,0.080856,0.925319,0.123557,0.940541,0.051988,0.890346,0.091058,0.948649,0.077864,0.914524,0.117616
31,ecoli0347vs56,0.915865,0.079138,0.857875,0.117664,0.851573,0.101519,0.767299,0.127591,0.834274,0.144332,0.774767,0.150363
32,ecoli046vs5,0.945796,0.083774,0.910972,0.124765,0.943093,0.069711,0.900449,0.116348,0.945721,0.098754,0.917644,0.139937
33,ecoli067vs35,0.9275,0.06275,0.872645,0.102152,0.93,0.046435,0.872185,0.07655,0.8925,0.13767,0.856223,0.1287
34,ecoli067vs5,0.9025,0.079746,0.838926,0.108401,0.92,0.062249,0.858208,0.093358,0.865,0.147214,0.817921,0.132556
35,glass0146vs2,0.92845,0.107266,0.893152,0.146794,0.86458,0.098021,0.793594,0.122935,0.5,0.0,0.702377,0.0
36,glass015vs2,0.919355,0.110575,0.879508,0.135587,0.887097,0.101369,0.824992,0.123096,0.803226,0.126178,0.730279,0.132593
37,glass04vs5,0.905882,0.135422,0.867336,0.184229,0.923529,0.155076,0.91188,0.164348,0.558824,0.131533,0.693772,0.005676
38,glass06vs5,0.955,0.075829,0.922714,0.123858,0.944737,0.09575,0.913529,0.137831,0.76,0.238878,0.803405,0.157272
39,led7digit02456789vs1,0.821755,0.158497,0.779599,0.154747,0.845137,0.1511,0.800331,0.168271,0.835441,0.171678,0.803865,0.176276

In [634]:
df_excel.loc[len(df_excel)]=list
df_excel.to_excel('/content/drive/MyDrive/pso_1.xlsx')