In [587]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score
import numpy as np
import pandas as pd
import random
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve , auc
from sklearn.metrics.cluster import fowlkes_mallows_score as gmean
import statistics as stat

In [588]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [589]:
df=pd.read_csv('/content/drive/MyDrive/ecoli-0-3-4-7_vs_5-6.csv')
df

       a1    a2    a3   a4    a5    a6    a7     Class
0    49.0  29.0  48.0  5.0  56.0  24.0  35.0  negative
1     7.0   4.0  48.0  5.0  54.0  35.0  44.0  negative
2    56.0   4.0  48.0  5.0  49.0  37.0  46.0  negative
3    59.0  49.0  48.0  5.0  52.0  45.0  36.0  negative
4    23.0  32.0  48.0  5.0  55.0  25.0  35.0  negative
..    ...   ...   ...  ...   ...   ...   ...       ...
252  77.0  57.0   1.0  5.0  37.0  54.0   1.0  positive
253  66.0  49.0   1.0  5.0  54.0  56.0  36.0  positive
254  71.0  46.0   1.0  5.0  52.0  59.0   3.0  positive
255  67.0  55.0   1.0  5.0  66.0  58.0  16.0  positive
256  68.0  49.0   1.0  5.0  62.0  55.0  28.0  positive

[257 rows x 8 columns]

In [590]:
df["Class"].value_counts()
class_label=df['Class']
class_label

0      negative
1      negative
2      negative
3      negative
4      negative
         ...
252    positive
253    positive
254    positive
255    positive
256    positive
Name: Class, Length: 257, dtype: object

In [591]:
label_encoder = LabelEncoder()
df["Class"] = label_encoder.fit_transform(df["Class"])
df.head()

     a1    a2    a3   a4    a5    a6    a7  Class
0  49.0  29.0  48.0  5.0  56.0  24.0  35.0      0
1   7.0   4.0  48.0  5.0  54.0  35.0  44.0      0
2  56.0   4.0  48.0  5.0  49.0  37.0  46.0      0
3  59.0  49.0  48.0  5.0  52.0  45.0  36.0      0
4  23.0  32.0  48.0  5.0  55.0  25.0  35.0      0

In [592]:
minor=df[df["Class"]==1]
major=df[df["Class"]==0]
minor=minor.drop(["Class"], axis=1)
minority=minor.to_numpy()
minor.shape
major.shape
diff=major.shape[0]-minor.shape[0]
r=diff
loop=diff/minor.shape[0]
if(diff%minor.shape[0]==0):
    iter=int(diff/minor.shape[0])
else:
  iter=int(diff/minor.shape[0])+1
minor.shape

(25, 7)

In [593]:
for id in range(r):
  if(diff>0):
    distances = np.linalg.norm(minority - minority[id], axis=1)  #calculating the distances to other instances
    k = 4
    nearest_neighbor_ids = distances.argsort()[:k] #finding 3 nearest neighbours n1,n2 and n3
    n1=minority[nearest_neighbor_ids[1]]
    n2=minority[nearest_neighbor_ids[2]]
    n3=minority[nearest_neighbor_ids[3]]
    r1=random.uniform(0,1)
    r2=random.uniform(0,1)
    w=random.uniform(0.5,1)
    velocity= w+r1*(n1-n3) + r2*(n1-n2)         #velocity vector
    new_minor=minority[id]+velocity             #position update
    d=minor.shape[1] 
    minB=minor.min().to_numpy()
    maxB=minor.max().to_numpy()
    for i in range(d):
      if(new_minor[i]<minB[i]):
        new_minor[i]=minB[i];
      if(new_minor[i]>maxB[i]):
        new_minor[i]=maxB[i];
    minority=np.append(minority,new_minor)
    minority=np.reshape(minority,(-1, minor.shape[1]))
    diff=diff-1

minority.shape

(232, 7)

In [594]:
df_minor = pd.DataFrame(minority, columns =['a1','a2','a3','a4','a5','a6','a7'])
df_minor

            a1         a2    a3   a4         a5         a6    a7
0    78.000000  68.000000  48.0  5.0  83.000000   4.000000  29.0
1    63.000000  69.000000  48.0  5.0  65.000000  41.000000  28.0
2    67.000000  88.000000  48.0  5.0  73.000000   5.000000  25.0
3    61.000000  75.000000  48.0  5.0  51.000000  33.000000  33.0
4    67.000000  84.000000  48.0  5.0  74.000000  54.000000  37.0
..         ...        ...   ...  ...        ...        ...   ...
227  75.742114  88.000000  48.0  5.0  81.313465   6.939328  52.0
228  27.511060  88.000000  48.0  5.0  32.536946  22.287556  52.0
229  78.000000  88.000000  48.0  5.0  46.862263  46.570233  52.0
230  78.000000  13.418896  48.0  5.0  88.000000  59.000000  52.0
231  78.000000  88.000000  48.0  5.0  88.000000  59.000000  52.0

[232 rows x 7 columns]

In [595]:
dup=[]
for i in range(df_minor.shape[0]):
  dup.append(1)
Class=np.array(dup)
Class=np.reshape(Class,(-1,1))
df_minor_class=pd.DataFrame(Class,columns=['Class'])
df_minor['Class']=df_minor_class
df_minor

            a1         a2    a3   a4         a5         a6    a7  Class
0    78.000000  68.000000  48.0  5.0  83.000000   4.000000  29.0      1
1    63.000000  69.000000  48.0  5.0  65.000000  41.000000  28.0      1
2    67.000000  88.000000  48.0  5.0  73.000000   5.000000  25.0      1
3    61.000000  75.000000  48.0  5.0  51.000000  33.000000  33.0      1
4    67.000000  84.000000  48.0  5.0  74.000000  54.000000  37.0      1
..         ...        ...   ...  ...        ...        ...   ...    ...
227  75.742114  88.000000  48.0  5.0  81.313465   6.939328  52.0      1
228  27.511060  88.000000  48.0  5.0  32.536946  22.287556  52.0      1
229  78.000000  88.000000  48.0  5.0  46.862263  46.570233  52.0      1
230  78.000000  13.418896  48.0  5.0  88.000000  59.000000  52.0      1
231  78.000000  88.000000  48.0  5.0  88.000000  59.000000  52.0      1

[232 rows x 8 columns]

In [596]:
majority=major.to_numpy()
majority=np.reshape(majority,(-1,major.shape[1]))
majority
df_major = pd.DataFrame(majority, columns = ['a1','a2','a3','a4','a5','a6','a7','Class'])
df_major

       a1    a2    a3   a4    a5    a6    a7  Class
0    49.0  29.0  48.0  5.0  56.0  24.0  35.0    0.0
1     7.0   4.0  48.0  5.0  54.0  35.0  44.0    0.0
2    56.0   4.0  48.0  5.0  49.0  37.0  46.0    0.0
3    59.0  49.0  48.0  5.0  52.0  45.0  36.0    0.0
4    23.0  32.0  48.0  5.0  55.0  25.0  35.0    0.0
..    ...   ...   ...  ...   ...   ...   ...    ...
227  74.0  56.0  48.0  5.0  47.0  68.0   3.0    0.0
228  71.0  57.0  48.0  5.0  48.0  35.0  32.0    0.0
229  61.0   6.0  48.0  5.0  44.0  39.0  38.0    0.0
230  59.0  61.0  48.0  5.0  42.0  42.0  37.0    0.0
231  74.0  74.0  48.0  5.0  31.0  53.0  52.0    0.0

[232 rows x 8 columns]

In [597]:
balanced_df=pd.concat([df_minor,df_major],axis=0,ignore_index=True)
balanced_df

       a1    a2    a3   a4    a5    a6    a7  Class
0    78.0  68.0  48.0  5.0  83.0   4.0  29.0    1.0
1    63.0  69.0  48.0  5.0  65.0  41.0  28.0    1.0
2    67.0  88.0  48.0  5.0  73.0   5.0  25.0    1.0
3    61.0  75.0  48.0  5.0  51.0  33.0  33.0    1.0
4    67.0  84.0  48.0  5.0  74.0  54.0  37.0    1.0
..    ...   ...   ...  ...   ...   ...   ...    ...
459  74.0  56.0  48.0  5.0  47.0  68.0   3.0    0.0
460  71.0  57.0  48.0  5.0  48.0  35.0  32.0    0.0
461  61.0   6.0  48.0  5.0  44.0  39.0  38.0    0.0
462  59.0  61.0  48.0  5.0  42.0  42.0  37.0    0.0
463  74.0  74.0  48.0  5.0  31.0  53.0  52.0    0.0

[464 rows x 8 columns]

In [598]:

from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=5)
x_b=balanced_df.drop(['Class'],axis='columns')
y_b=balanced_df.Class

In [599]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
model_b_s=SVC()

model_b_k=KNeighborsClassifier(n_neighbors=3)


model_b_d=DecisionTreeClassifier(random_state=0)

In [600]:
#precision
precision_s=[]
f1_s=[]
recall_s=[]
accuracy_s=[]
Auc_s=[]
Gmean_s=[]

precision_k=[]
f1_k=[]
recall_k=[]
accuracy_k=[]
Auc_k=[]
Gmean_k=[]

precision_d=[]
f1_d=[]
recall_d=[]
accuracy_d=[]
Auc_d=[]
Gmean_d=[]
for train_index_b,test_index_b in kf.split(x_b,y_b):
  x_train_b,x_test_b=x_b.iloc[train_index_b],x_b.iloc[test_index_b]
  y_train_b,y_test_b=y_b.iloc[train_index_b],y_b.iloc[test_index_b]
  model_b_s.fit(x_train_b,y_train_b)
  prediction_b_s = model_b_s.predict(x_test_b)

  model_b_k.fit(x_train_b,y_train_b)
  prediction_b_k = model_b_k.predict(x_test_b)

  model_b_d.fit(x_train_b,y_train_b)
  prediction_b_d = model_b_d.predict(x_test_b)

  precision_s.append(precision_score(y_test_b,prediction_b_s))
  precision_k.append(precision_score(y_test_b,prediction_b_k))
  precision_d.append(precision_score(y_test_b,prediction_b_d))

  recall_s.append(recall_score(y_test_b,prediction_b_s))
  recall_k.append(recall_score(y_test_b,prediction_b_k))
  recall_d.append(recall_score(y_test_b,prediction_b_d))

  f1_s.append(f1_score(y_test_b,prediction_b_s))
  f1_k.append(f1_score(y_test_b,prediction_b_k))
  f1_d.append(f1_score(y_test_b,prediction_b_d))

  accuracy_s.append(accuracy_score(y_test_b,prediction_b_s))
  accuracy_k.append(accuracy_score(y_test_b,prediction_b_k))
  accuracy_d.append(accuracy_score(y_test_b,prediction_b_d))


  s_fpr_b,s_tpr_b,threshold_s_b=roc_curve(y_test_b,prediction_b_s)
  k_fpr_b,k_tpr_b,threshold_k_b=roc_curve(y_test_b,prediction_b_k)
  d_fpr_b,d_tpr_b,threshold_d_b=roc_curve(y_test_b,prediction_b_d)


  Auc_s.append(auc(s_fpr_b,s_tpr_b))
  Auc_k.append(auc(k_fpr_b,k_tpr_b))
  Auc_d.append(auc(d_fpr_b,d_tpr_b))


  Gmean_s.append(gmean(y_test_b,prediction_b_s))
  Gmean_k.append(gmean(y_test_b,prediction_b_k))
  Gmean_d.append(gmean(y_test_b,prediction_b_d))


print("-------SVM--------")
print("Gmean_SVM:",Gmean_s)
print("AUC_SVM:",Auc_s)
print("f1_SVM:",f1_s)
print("precision_SVM:",precision_s)
print("recall_SVM:",recall_s)

print("mean of Gmean_s:",stat.mean(Gmean_s))
print("mean of AUC_s:",stat.mean(Auc_s))
print("mean of f1_s:",stat.mean(f1_s))
print("mean of precision_s:",stat.mean(precision_s))
print("mean of recall_s:",stat.mean(recall_s))

print("standard deviation of Gmean_s:",stat.stdev(Gmean_s))
print("standard deviation of AUC_s:",stat.stdev(Auc_s))
print("standard deviation of f1_s:",stat.stdev(f1_s))
print("standard deviation of precision_s:",stat.stdev(precision_s))
print("standard deviation of recall_s:",stat.stdev(recall_s))

print("\n")
print("-------KNN--------")
print("Gmean_KNN:",Gmean_k)
print("AUC_KNN:",Auc_k)
print("f1_KNN:",f1_k)
print("precision_KNN:",precision_k)
print("recall_KNN:",recall_k)

print("mean of Gmean_k:",stat.mean(Gmean_k))
print("mean of AUC_k:",stat.mean(Auc_k))
print("mean of f1_k:",stat.mean(f1_k))
print("mean of precision_k:",stat.mean(precision_k))
print("mean of recall_k:",stat.mean(recall_k))

print("standard deviation of Gmean_k:",stat.stdev(Gmean_k))
print("standard deviation of AUC_k:",stat.stdev(Auc_k))
print("standard deviation of f1_k:",stat.stdev(f1_k))
print("standard deviation of precision_k:",stat.stdev(precision_k))
print("standard deviation of recall_k:",stat.stdev(recall_k))

print("\n")
print("-------DECISION TREE--------")
print("Gmean_DT:",Gmean_d)
print("AUC_DT:",Auc_d)
print("f1_DT:",f1_d)
print("precision_DT:",precision_d)
print("recall_DT:",recall_d)

print("mean of Gmean_d:",stat.mean(Gmean_d))
print("mean of AUC_d:",stat.mean(Auc_d))
print("mean of f1_d:",stat.mean(f1_d))
print("mean of precision_d:",stat.mean(precision_d))
print("mean of recall_d:",stat.mean(recall_d))

print("standard deviation of Gmean_d:",stat.stdev(Gmean_d))
print("standard deviation of AUC_d:",stat.stdev(Auc_d))
print("standard deviation of f1_d:",stat.stdev(f1_d))
print("standard deviation of precision_d:",stat.stdev(precision_d))
print("standard deviation of recall_d:",stat.stdev(recall_d))

-------SVM--------
Gmean_SVM: [0.8584290634722235, 0.9362916415056161, 0.9782712475443189, 0.6453984039688805, 0.6412593742992212]
AUC_SVM: [0.9253006475485661, 0.9680851063829787, 0.9891304347826086, 0.7127659574468085, 0.6739130434782609]
f1_SVM: [0.9213483146067415, 0.967032967032967, 0.989010989010989, 0.773109243697479, 0.7540983606557378]
precision_SVM: [0.9761904761904762, 1.0, 1.0, 0.6301369863013698, 0.6052631578947368]
recall_SVM: [0.8723404255319149, 0.9361702127659575, 0.9782608695652174, 1.0, 1.0]
mean of Gmean_s: 0.811929946158052
mean of AUC_s: 0.8538390379278445
mean of f1_s: 0.8809199750007829
mean of precision_s: 0.8423181240773165
mean of recall_s: 0.9573543015726179
standard deviation of Gmean_s: 0.15981131559601658
standard deviation of AUC_s: 0.14894433975904672
standard deviation of f1_s: 0.11004594608505673
standard deviation of precision_s: 0.20546584075523489
standard deviation of recall_s: 0.05419990892976692


-------KNN--------
Gmean_KNN: [0.8591898245631063, 0.9362916415056161, 1.0, 0.7469045398402553, 0.7034682677932879]
AUC_KNN: [0.925531914893617, 0.9680851063829787, 1.0, 0.8508325624421831, 0.8043478260869565]
f1_KNN: [0.9195402298850576, 0.967032967032967, 1.0, 0.8653846153846154, 0.8363636363636363]
precision_KNN: [1.0, 1.0, 1.0, 0.7758620689655172, 0.71875]
recall_KNN: [0.851063829787234, 0.9361702127659575, 1.0, 0.9782608695652174, 1.0]
mean of Gmean_k: 0.8491708547404531
mean of AUC_k: 0.9097594819611471
mean of f1_k: 0.9176642897332553
mean of precision_k: 0.8989224137931034
mean of recall_k: 0.9530989824236817
standard deviation of Gmean_k: 0.12462692857983823
standard deviation of AUC_k: 0.0812065241203864
standard deviation of f1_k: 0.06812289487248821
standard deviation of precision_k: 0.139871353805341
standard deviation of recall_k: 0.06271022061749398


-------DECISION TREE--------
Gmean_DT: [0.8960302457466919, 0.9362916415056161, 0.9569943289224953, 0.6381051259529401, 0.716558048794299]
AUC_DT: [0.9463459759481961, 0.9680851063829787, 0.9784921369102682, 0.6702127659574468, 0.826086956521739]
f1_DT: [0.9462365591397849, 0.967032967032967, 0.9782608695652174, 0.7479674796747967, 0.8461538461538461]
precision_DT: [0.9565217391304348, 1.0, 0.9782608695652174, 0.5974025974025974, 0.7586206896551724]
recall_DT: [0.9361702127659575, 0.9361702127659575, 0.9782608695652174, 1.0, 0.9565217391304348]
mean of Gmean_d: 0.8287958781844085
mean of AUC_d: 0.8778445883441258
mean of f1_d: 0.8971303443133224
mean of precision_d: 0.8581611791506844
mean of recall_d: 0.9614246068455135
standard deviation of Gmean_d: 0.1427155697690003
standard deviation of AUC_d: 0.13110639415323413
standard deviation of f1_d: 0.09839731027458304
standard deviation of precision_d: 0.17472859919128933
standard deviation of recall_d: 0.0277088778727716

In [601]:
list=['ecoli0347vs56',stat.mean(Auc_k),stat.stdev(Auc_k),stat.mean(Gmean_k),stat.stdev(Gmean_k),stat.mean(Auc_d),stat.stdev(Auc_d),stat.mean(Gmean_d),stat.stdev(Gmean_d),stat.mean(Auc_s),stat.stdev(Auc_s),stat.mean(Gmean_s),stat.stdev(Gmean_s)]
list

df_excel = pd.read_excel('/content/drive/MyDrive/pso_1.xlsx')
df_excel

,Unnamed: 0.1,KNN,Unnamed: 2,Unnamed: 3,Unnamed: 4,Decision Tree,Unnamed: 6,Unnamed: 7,Unnamed: 8,SVM,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN,AUC,NaN,Gmean,NaN
1,Dataset,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev,mean,st.dev
2,ecoli0137vs26,0.959495,0.040136,0.92449,0.072456,0.959798,0.027859,0.923228,0.052104,0.946633,0.061364,0.905228,0.105836
3,shuttle0vs4,0.999414,0.000802,0.998826,0.001607,1.0,0.0,1.0,0.0,0.998828,0.000655,0.997651,0.001313
4,yeast1vs7,0.953475,0.075796,0.923035,0.116982,0.938317,0.063328,0.89309,0.093762,0.963953,0.080602,0.94367,0.125957
5,shuttle2vs4,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
6,glass016vs2,0.925714,0.102718,0.885581,0.143202,0.885714,0.108327,0.827411,0.127491,0.591429,0.180871,0.723895,0.066047
7,glass016vs5,0.885714,0.137396,0.845013,0.164663,0.88,0.149352,0.84569,0.173688,0.951429,0.065153,0.914833,0.107251
8,pageblocks13vs4,0.921157,0.041699,0.858736,0.064528,0.966279,0.052842,0.939967,0.090831,0.781563,0.023842,0.673539,0.031343
9,yeast05679vs4,0.90693,0.11329,0.863197,0.148454,0.889167,0.098387,0.829291,0.128517,0.920559,0.118654,0.887151,0.160135
10,yeast1289vs7,0.978237,0.035746,0.959557,0.064986,0.964615,0.027164,0.932908,0.048504,0.983149,0.03768,0.969282,0.068688
11,yeast1458vs7,0.963876,0.043629,0.933951,0.074594,0.928446,0.035745,0.870281,0.05924,0.974436,0.051092,0.955008,0.088538
12,yeast2vs4,0.941912,0.120829,0.924774,0.150056,0.928927,0.111393,0.897887,0.136399,0.942987,0.121499,0.926973,0.151501
13,yeast4,0.976644,0.0368,0.956926,0.065683,0.967568,0.03255,0.939284,0.057545,0.98188,0.039547,0.967332,0.071108
14,vowel0,0.858166,0.093864,0.787635,0.107438,0.868818,0.150834,0.835322,0.163618,0.901605,0.102867,0.850971,0.125853
15,yeast2vs8,0.988172,0.026448,0.977536,0.05023,0.960075,0.037523,0.925454,0.066287,0.982796,0.03847,0.968516,0.0704
16,glass4,0.888841,0.135252,0.847573,0.174202,0.873902,0.156211,0.842538,0.182132,0.921707,0.147911,0.90769,0.154431
17,glass5,0.897561,0.125734,0.8548,0.166752,0.907317,0.125141,0.86896,0.169798,0.963415,0.081807,0.942948,0.127572
18,glass2,0.927244,0.100005,0.88673,0.129847,0.932179,0.082133,0.886989,0.116465,0.523077,0.051602,0.691108,0.025735
19,yeast5,0.979514,0.030454,0.961535,0.055489,0.980903,0.03149,0.964316,0.057604,0.982986,0.03228,0.968425,0.059092
20,yeast6,0.982409,0.0239,0.966405,0.044361,0.975503,0.020375,0.952897,0.037489,0.986552,0.026301,0.974654,0.049153
21,cleveland0vs4,0.83125,0.063853,0.720727,0.0824,0.925,0.09845,0.880384,0.130341,0.7625,0.020373,0.634654,0.029277
22,ecoli01vs235,0.945455,0.034468,0.897597,0.060877,0.897727,0.0533,0.819161,0.082646,0.947727,0.031737,0.900499,0.057477
23,ecoli01vs5,0.979545,0.014816,0.959392,0.029188,0.947727,0.027367,0.900314,0.049087,0.965909,0.013918,0.932951,0.026217
24,ecoli0146vs5,0.969231,0.020846,0.940022,0.040261,0.946154,0.03303,0.898248,0.060564,0.961538,0.039645,0.928074,0.069629
25,ecoli0147vs2356,0.902247,0.091827,0.843175,0.11451,0.882946,0.0893,0.810511,0.122853,0.872871,0.117917,0.812795,0.1194
26,ecoli0147vs56,0.939556,0.100234,0.909029,0.135144,0.879614,0.108659,0.81971,0.113558,0.919937,0.134732,0.895098,0.147951
27,ecoli0234vs5,0.964189,0.052534,0.934756,0.091346,0.91464,0.07728,0.852008,0.110095,0.9503,0.074,0.915788,0.113863
28,ecoli0267vs35,0.881159,0.099133,0.810659,0.116564,0.87878,0.064933,0.79008,0.09174,0.86622,0.133393,0.809495,0.126712
29,ecoli034vs5,0.930556,0.08729,0.885096,0.124141,0.897222,0.160955,0.862475,0.173372,0.894444,0.205208,0.910392,0.139264
30,ecoli0346vs5,0.954054,0.080856,0.925319,0.123557,0.940541,0.051988,0.890346,0.091058,0.948649,0.077864,0.914524,0.117616
31,ecoli0347vs56,0.915865,0.079138,0.857875,0.117664,0.851573,0.101519,0.767299,0.127591,0.834274,0.144332,0.774767,0.150363
32,ecoli046vs5,0.945796,0.083774,0.910972,0.124765,0.943093,0.069711,0.900449,0.116348,0.945721,0.098754,0.917644,0.139937
33,ecoli067vs35,0.9275,0.06275,0.872645,0.102152,0.93,0.046435,0.872185,0.07655,0.8925,0.13767,0.856223,0.1287
34,ecoli067vs5,0.9025,0.079746,0.838926,0.108401,0.92,0.062249,0.858208,0.093358,0.865,0.147214,0.817921,0.132556

In [602]:
df_excel.loc[len(df_excel)]=list
df_excel.to_excel('/content/drive/MyDrive/pso_1.xlsx')